<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
    <div class='page'>
        <div class='page_title'>
            <h1>Project Big Data: Image catigorization</h1>
            <h3>Categorization of architectal styles</h3>
        </div>
        <div class='chapter'>
            <h3 class="chapter_title">Examples</h3>
            <div class='examples'>
                {% for example in examples %}
                <div class='example'>
                    <img class='example_image' src="{{url_for('static', filename=example['image'])}}">
                    <p class='example_category'>{{ example['category']}}</p>
                    <p class="{{ example['correct_class']}}">{{ example['prediction']}}</p>

                </div>
                {%endfor%}
            </div>
        </div>
        <div class='chapter'>
            <h3 class="chapter_title">Test your image</h3>
            <form action="http://localhost:5000/testImage_post" method=post enctype=multipart/form-data>
                <p>
                    <label for="file"> select an image to test</label>
                    <input type="file" id="file" name="file" /></p>
                <p><input type="submit" value="submit" /></p>
            </form>
            {%if sample is defined %}
            <div class="sample">
                <img class='example_image' src="{{url_for('static', filename=sample['image'])}}">
                <p class='example_category'>{{ sample['prediction']}}</p>
            </div>
            {%endif%}
        </div>
    </div>
</body>
<footer>
    <p>Thomas De Dobbeleer - Klaas Eelen - Witse Meeussen</p>
</footer>

</html>